<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="chat-header">
        <div class="header-logo">
            <img src="{{ url_for('static', filename='img/logo_icon.png.png') }}" alt="">
            <span>Chat</span>
        </div>
        <div class="header-actions">
            <button class="header-btn">
                <img src="{{ url_for('static', filename='img/notification_icon.png.png') }}" alt="">
            </button>
            <button class="header-btn">
                <img src="{{ url_for('static', filename='img/settings_icon.png.png') }}" alt="">
            </button>
            <button class="avatar-btn">
                <img src="{{ url_for('static', filename='img/avatar.png.png') }}" alt="">
            </button>
        </div>
    </header>

    


   
</body>
</html>