{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">

    <div class="logo">
        ✦ WORLD IT
    </div>

    <h2>
        Увійти
    </h2>

    <div class="description">
        Введіть вашу електронну пошту та пароль
    </div>

    <input type="email" placeholder="name@example.com">

    <input type="password" placeholder="********">

    <button>
        Увійти
    </button>

    <div class="image">
        <img src="/static/img/reg.png" alt="img">
    </div>

</div>

{% endblock %}